/* .myDiv for class="myDiv" */
/* #myDiv for a id="myDiv" */
/* myDiv for invisible ??" */


.myDiv {
    height: 30vh;
    width: 30vw;
    /* overflow: hidden; */
    /* word-break: break-all; */
    /* white-space: nowrap; */
    /* text-wrap: wrap; */
    /* line-break: normal; */
    /* white-space: pre-wrap; */
    color: blue;
    background-color: rgb(231, 233, 225);
}



