/* .myDiv for class="myDiv" */
/* #myDiv for a id="myDiv" */

.myDiv {

    height: 30vh;
    width: 30vw;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-wrap: wrap;
    /* line-break: normal; */
    white-space: pre-wrap;
    color: rgb(255, 123, 0);
    
}